body{
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%)
}

.container{
    background-color: #ffffff;
    margin: 40px auto;
    overflow: auto;
    font-family: 'Poppins', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    font-size: 15px;
}

#heading{
    margin: 10px;
    padding: 15px 45px;
    font-family: 'Montserrat', sans-serif;
}

#info{
    margin: 30px 50px;
}

#radios{
    margin:25px 10px;
}

.radioOption{
    margin: 10px;
}

.header{
    font-family: 'Montserrat', sans-serif;
}

.input-group-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.input-group{
    margin-top: 20px;
}

.inputSelect{
    margin-top: 20px;
}

#button{
    text-align: center;
    margin-top: 25px;    
}

.btn{
    color: #ffffff;
}

.result{
    background: lightblue;
    width: 100%;
    border: 0;
    box-sizing: border-box;
    font-size: 15px;
    height: 35px;
    text-align: center;
}

.btn-grad {background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%)}
.btn-grad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         

